<div class="officeDetails">
  <div class="header">
    <mat-icon class="icons">keyboard_backspace</mat-icon>
    <h1>Office Name</h1>
  </div>

  <div class="location">
    <mat-icon class="icons">location_on</mat-icon>
    <p>Protea Hotel North Wharf</p>
  </div>
  <div class="email">
    <mat-icon class="icons">email</mat-icon>
    <p>insaafdhansya@gmail.com</p>
  </div>
  <div class="tel">
    <mat-icon class="icons">phone</mat-icon>
    <p>0823546271</p>
  </div>
  <div class="occupants">
    <mat-icon class="icons">person</mat-icon>
    <p>Max Capacity: 15</p>
  </div>
</div>

  <div class="search">
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="Search Staff"
    />
  </div>

  <span class="staffHeading">Staff members 8/9</span>
    <mat-icon class="addIcon">add</mat-icon>

  <app-staff-card></app-staff-card>

