<form>

    <div class="removeModal">
        <div mat-dialog-actions align="end">
             <button mat-icon-button   [mat-dialog-close]="true">
          <mat-icon >close</mat-icon>
        </button>
        </div>
     
        
    <h1 mat-dialog-title align="center">Remove Office/Staff </h1>
    <div mat-dialog-content align="center">
    <p>Are you sure you want to <span style="color: #ff0000">remove</span> {{name}}</p>
    </div>
    <div class="remove">
      <button mat-button class="removeBtn" (click)="remove()">Remove</button>
    </div>
  </div>
  </form>
  