
  <mat-card class="office-card">
    <mat-card-header>
      <img src="/assets/office.png" alt="building" mat-card-avatar />
      <mat-card-title>Office Name</mat-card-title>

      <mat-card-subtitle>Address</mat-card-subtitle>
      <div class="modify">
        <mat-icon class="icons" mat-card-avatar>edit</mat-icon>
        <mat-icon class="icons" mat-card-avatar>delete</mat-icon>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="email">
        <mat-icon class="icons" mat-card-avatar>email</mat-icon>
        <p>insaafdhansay@gmail.com</p>
      </div>

      <div class="phone">
        <mat-icon class="icons" mat-card-avatar>phone</mat-icon>
        <p>08243501923</p>

        <mat-icon class="iconOccupants" mat-card-avatar>person</mat-icon>
        <p class="numOccupants">15</p>
      </div>
    </mat-card-content>
  </mat-card>

