<form [formGroup]="officeForm"  (ngSubmit)="onSubmit(officeForm.value)">

  <div class="officeModify">
      <div mat-dialog-actions align="end">
           <button mat-icon-button   [mat-dialog-close]="true">
        <mat-icon >close</mat-icon>
      </button>
      </div>
   
      
  <h1 mat-dialog-title>Add/Edit Office</h1>
  <div mat-dialog-content>
    <mat-form-field class="formFields">
      <mat-label>Office Name</mat-label>
      <input matInput placeholder="" class="form-control" formControlName="name">/>
    </mat-form-field>
    <br />

    <mat-form-field class="formFields">
      <mat-label>Email address</mat-label>
      <input matInput placeholder="" class="form-control" formControlName="email"> />
    </mat-form-field>
    <br />

    <mat-form-field class="formFields">
      <mat-label>Office telephone</mat-label>
      <input matInput placeholder=""  class="form-control" formControlName="tel">/>
    </mat-form-field>
    <br />

   <mat-form-field class="formFields">
      <mat-label>Address</mat-label>
      <input matInput placeholder=""class="form-control" formControlName="address">/>
    </mat-form-field>
    <br />

    <mat-form-field class="formFields">
      <mat-label>Max number of occupants</mat-label>
      <input matInput placeholder="" class="form-control" formControlName="maxOcc">/>
    </mat-form-field>
    <br />
    <mat-form-field class="formFields">
      <mat-label>Office Colour</mat-label>
      <select matNativeControl required class="form-control" formControlName="officeCol"></select>>
        <option value="purple">Purple</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
      </select>
    </mat-form-field>
  </div>
  <div class="save">
    <button mat-button class="saveBtn" type="submit">Save Office</button>
  </div>
</div>
</form>
