<div class="officeDetails">
  <div class="header">
    <mat-icon class="icons" routerLink="/home">keyboard_backspace</mat-icon>
    <h1>{{ officeService.name }}</h1>
  </div>

  <div  class="location">
    <mat-icon class="icons">location_on</mat-icon>
    <p>{{ officeService.address }}</p>
  </div>
  <div class="email">
    <mat-icon class="icons">email</mat-icon>
    <p>{{ officeService.email }}</p>
  </div>
  <div class="tel">
    <mat-icon class="icons">phone</mat-icon>
    <p>{{ officeService.tel }}</p>
  </div>
  <div class="occupants">
    <mat-icon class="icons">person</mat-icon>
    <p>{{ officeService.maxOcc }}</p>
  </div>
</div>

<div class="search">
  <input
    class="form-control mr-sm-2"
    type="text"
    placeholder="Search Staff"
    [(ngModel)]="searchValue"
    [ngModelOptions]="{ standalone: true }"
    (keyup)="searchByName()"
  />
</div>

<span class="staffHeading"
  >Staff members {{ numStaff }}/{{ officeService.maxOcc }}</span
>
<mat-icon class="addIcon" (click)="openStaffModal()">add</mat-icon>

<app-staff-card></app-staff-card>
