
.icons {
    color: #4b0082;
    padding-right: 2rem;
  }
  .location{
      display: flex;
      background-color:#ddd3ee;
  }
  .email{
    display: flex;
    background-color:#ddd3ee;
}
.tel{
    display: flex;
    background-color:#ddd3ee;
}
.occupants{
    display: flex;
    background-color:#ddd3ee;

}
.header{
    display: flex;
    background-color:#ddd3ee;
    width: 100%;

}
.officeDetails{
    width:100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color:#ddd3ee;


}
.search{
    margin-top: 1rem;
    padding-bottom: 1rem;;
    width: 100%;
}

  .addIcon {
    color: #4b0082;
    position: absolute;
    right: 0;
    padding-right: 3rem;
   
  }
  .staffHeading{
      padding-left: 0.5rem;
  }